<div class="one">
    </div><h1>HOW CAN WE HELP YOU?</h1>
<div ng serve class="mb-3">
    
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="NAME">
  </div>
  <div class="mb-3">

    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ADDRESS">
  </div>
  <div class="mb-3">
    
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="DESCRIPTION">
  </div>
  <div class="mb-3">
    
<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="MESSAGE">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>